@import 'variable.scss';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  object-fit: cover;
}

#app {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  position: relative;
}

.container {
  width: 75%;
  max-width: 1440px;
  padding: 0 32px;
  margin: auto;
}

#navbar {
  width: 100%;
  max-width: 1920px;
  height: 72px;
  padding: 0 32px;
  margin: auto;
  position: relative;
  z-index: 99;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 48px;
    height: 48px;
    margin: 0 12px;
  }

  .icon-menu {
    width: 46px;
    height: 46px;
    opacity: 0.75;
    cursor: pointer;
    transition: 0.25s;
    background: url(../img/lightning_outline.svg) no-repeat;

    &:hover {
      opacity: 1;
      background: url(../img/lightning.svg) no-repeat;
    }
  }
}

#top {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  .round {
    width: 75vmin;
    max-width: 720px;
    height: 75vmin;
    max-height: 720px;
    background: $yellow;
    border-radius: 50%;

    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-25%, -50%);
    animation: roundIn 0.65s ease-out;
  }

  .title-frame {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    animation: fadeIn 0.5s;
  }

  .title {
    padding: 0 0 10px;
    color: $dark;
    font-size: $fsize-title;
    letter-spacing: 1px;
    line-height: 1.35;
    display: inline-block;
    white-space: nowrap;

    background-image: linear-gradient($pink, $pink);
    background-position: bottom left;
    background-size: 0% 16px;
    background-size: 100% 16px;
    background-repeat: no-repeat;
    animation: titleIn 2.5s;
  }

  .scroll {
    color: $pink;
    font-size: 46px;
    position: absolute;
    left: 50%;
    z-index: 10;
    opacity: 0;
    transform: translateX(-50%);
    animation: scrollIn 1.75s infinite 1.95s;
  }
}


#menu {
  width: 200px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes roundIn {
  0% {
    margin: 0 0 0 -5%;
    opacity: 0.4;
  }

  100% {
    margin: 0;
    opacity: 1;
  }
}

@keyframes titleIn {
  0% {
    background-image: linear-gradient($pink, $pink);
    background-size: 0% 16px;
  }

  100% {
    background-image: linear-gradient($pink, $pink);
    background-size: 100% 16px;
  }
}

@keyframes scrollIn {
  0% {
    opacity: 0;
    bottom: 12.5%;
  }

  100% {
    opacity: 1;
    bottom: 10%;
  }
}

@media (max-width:1024px) {
  .container {
    width: 85%;
    padding: 0 24px;
  }

  #navbar {
    padding: 0 24px;
  }

  #top {
    .round {
      left: 25%;
      top: 35%;
      transform: translate(-25%, -35%);
    }

    .title-frame {
      left: 57%;
      top: 50%;
      transform: translate(-57%, -50%);
    }

    .title {
      font-size: $fsize-title-pad;
    }

    .scroll {
      font-size: 6vw;
    }
  }

  @keyframes scrollIn {
    0% {
      opacity: 0;
      bottom: 15%;
    }

    100% {
      opacity: 1;
      bottom: 10%;
    }
  }
}

@media (max-width:767px) {
  .container {
    width: 95%;
    padding: 0 16px;
  }

  #navbar {
    padding: 0 16px;
  }

  #top {
    .round {
      width: 75vmin;
      height: 75vmin;

      left: 33%;
      top: 34%;
      transform: translate(-33%, -34%);
    }

    .title-frame {
      left: 52%;
      top: 50%;
      transform: translate(-52%, -50%);
    }

    .title {
      font-size: $fsize-title-phone;
      background-size: 0% 9px;
      background-size: 100% 9px;
    }

    .scroll {
      font-size: 8vw;
    }
  }

  @keyframes titleIn {
    0% {
      background-image: linear-gradient($pink, $pink);
      background-size: 0% 9px;
    }

    100% {
      background-image: linear-gradient($pink, $pink);
      background-size: 100% 9px;
    }
  }

  @keyframes scrollIn {
    0% {
      opacity: 0;
      bottom: 25%;
    }

    100% {
      opacity: 1;
      bottom: 20%;
    }
  }
}