@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

#app {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  position: relative;
}

.container {
  width: 75%;
  max-width: 1440px;
  padding: 0 32px;
  margin: auto;
}

#navbar {
  width: 100%;
  max-width: 1920px;
  height: 72px;
  padding: 0 32px;
  margin: auto;
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .logo {
  width: 48px;
  height: 48px;
  margin: 0 12px;
}

#navbar .icon-menu {
  width: 46px;
  height: 46px;
  opacity: 0.75;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background: url(../img/lightning_outline.svg) no-repeat;
}

#navbar .icon-menu:hover {
  opacity: 1;
  background: url(../img/lightning.svg) no-repeat;
}

#top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#top .round {
  width: 75vmin;
  max-width: 720px;
  height: 75vmin;
  max-height: 720px;
  background: #F9F871;
  border-radius: 50%;
  position: absolute;
  left: 25%;
  top: 50%;
  -webkit-transform: translate(-25%, -50%);
          transform: translate(-25%, -50%);
  -webkit-animation: roundIn 0.65s ease-out;
          animation: roundIn 0.65s ease-out;
}

#top .title-frame {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

#top .title {
  padding: 0 0 10px;
  color: #111;
  font-size: 118px;
  letter-spacing: 1px;
  line-height: 1.35;
  display: inline-block;
  white-space: nowrap;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6F91), to(#FF6F91));
  background-image: linear-gradient(#FF6F91, #FF6F91);
  background-position: bottom left;
  background-size: 0% 16px;
  background-size: 100% 16px;
  background-repeat: no-repeat;
  -webkit-animation: titleIn 2.5s;
          animation: titleIn 2.5s;
}

#menu {
  width: 200px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes roundIn {
  0% {
    margin: 0 0 0 -5%;
    opacity: 0.4;
  }
  100% {
    margin: 0;
    opacity: 1;
  }
}

@keyframes roundIn {
  0% {
    margin: 0 0 0 -5%;
    opacity: 0.4;
  }
  100% {
    margin: 0;
    opacity: 1;
  }
}

@-webkit-keyframes titleIn {
  0% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6F91), to(#FF6F91));
    background-image: linear-gradient(#FF6F91, #FF6F91);
    background-size: 0% 16px;
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6F91), to(#FF6F91));
    background-image: linear-gradient(#FF6F91, #FF6F91);
    background-size: 100% 16px;
  }
}

@keyframes titleIn {
  0% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6F91), to(#FF6F91));
    background-image: linear-gradient(#FF6F91, #FF6F91);
    background-size: 0% 16px;
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6F91), to(#FF6F91));
    background-image: linear-gradient(#FF6F91, #FF6F91);
    background-size: 100% 16px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 85%;
    padding: 0 24px;
  }
  #navbar {
    padding: 0 24px;
  }
  #top .round {
    left: 25%;
    top: 35%;
    -webkit-transform: translate(-25%, -35%);
            transform: translate(-25%, -35%);
  }
  #top .title-frame {
    left: 57%;
    top: 50%;
    -webkit-transform: translate(-57%, -50%);
            transform: translate(-57%, -50%);
  }
  #top .title {
    font-size: 10vw;
  }
}

@media (max-width: 767px) {
  .container {
    width: 95%;
    padding: 0 16px;
  }
  #navbar {
    padding: 0 16px;
  }
  #top .round {
    width: 75vmin;
    height: 75vmin;
    left: 33%;
    top: 34%;
    -webkit-transform: translate(-33%, -34%);
            transform: translate(-33%, -34%);
  }
  #top .title-frame {
    left: 52%;
    top: 50%;
    -webkit-transform: translate(-52%, -50%);
            transform: translate(-52%, -50%);
  }
  #top .title {
    font-size: 11vw;
    background-size: 0% 9px;
    background-size: 100% 9px;
  }
  @-webkit-keyframes titleIn {
    0% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6F91), to(#FF6F91));
      background-image: linear-gradient(#FF6F91, #FF6F91);
      background-size: 0% 9px;
    }
    100% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6F91), to(#FF6F91));
      background-image: linear-gradient(#FF6F91, #FF6F91);
      background-size: 100% 9px;
    }
  }
  @keyframes titleIn {
    0% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6F91), to(#FF6F91));
      background-image: linear-gradient(#FF6F91, #FF6F91);
      background-size: 0% 9px;
    }
    100% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6F91), to(#FF6F91));
      background-image: linear-gradient(#FF6F91, #FF6F91);
      background-size: 100% 9px;
    }
  }
}
