@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

#app {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  position: relative;
}

.container {
  width: 75%;
  height: 100%;
  max-width: 1440px;
  padding: 4% 32px;
  margin: auto;
}

#navbar {
  width: 100%;
  max-width: 1920px;
  height: 72px;
  padding: 0 32px;
  margin: auto;
  position: absolute;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .logo {
  width: 48px;
  height: 48px;
  margin: 0 12px;
}

#navbar .icon-menu {
  width: 46px;
  height: 46px;
  opacity: 0.75;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background: url(../img/lightning_outline.svg) no-repeat;
}

#navbar .icon-menu:hover {
  opacity: 1;
  background: url(../img/lightning.svg) no-repeat;
}

#menu {
  width: 200px;
}

#top {
  width: 100%;
  height: 100vh;
  position: relative;
}

#top .round {
  width: 75vmin;
  max-width: 720px;
  height: 75vmin;
  max-height: 720px;
  background: #F9F871;
  border-radius: 50%;
  position: absolute;
  left: 25%;
  top: 50%;
  -webkit-transform: translate(-25%, -50%);
          transform: translate(-25%, -50%);
  -webkit-animation: roundIn 0.65s ease-out;
          animation: roundIn 0.65s ease-out;
}

#top .title-frame {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

#top .title {
  padding: 0 0 10px;
  color: #111;
  font-size: 118px;
  letter-spacing: 1px;
  line-height: 1.35;
  display: inline-block;
  white-space: nowrap;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6F91), to(#FF6F91));
  background-image: linear-gradient(#FF6F91, #FF6F91);
  background-position: bottom left;
  background-size: 0% 16px;
  background-size: 100% 16px;
  background-repeat: no-repeat;
  -webkit-animation: titleIn 2.5s;
          animation: titleIn 2.5s;
}

#top .scroll {
  color: #FF6F91;
  font-size: 46px;
  position: absolute;
  left: 50%;
  z-index: 10;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: scrollIn 1.75s infinite 1.95s;
          animation: scrollIn 1.75s infinite 1.95s;
  will-change: bottom;
}

#result {
  width: 100%;
  height: 100vh;
}

#result .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#result .result-text {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 48px;
  line-height: 1;
}

#result #job-text {
  color: #F55F3E;
  font-size: 72px;
}

#result #job-img {
  width: 36%;
  margin: 0 6% 0 0;
}

#result .chart {
  width: 45%;
  height: auto;
  position: relative;
}

#result .chart::before {
  content: '';
  display: block;
  position: absolute;
  left: -5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 5px;
  height: 96%;
  background: #3335;
  border-radius: 8px;
}

#result .bar {
  height: 32px;
  margin: 32px 0;
  position: relative;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

#result .bar:hover {
  opacity: 0.85;
}

#result .bar::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: calc(100% + 12px);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 75px;
  height: 48px;
}

#result .bar:nth-child(1) {
  background: #F55F3E;
  width: 100%;
}

#result .bar:nth-child(1)::after {
  background: url(../img/jobs/apostle.svg) no-repeat;
  background-position: center right;
  background-size: 45px;
}

#result .bar:nth-child(2) {
  background: #FA9132;
  width: 90%;
}

#result .bar:nth-child(2)::after {
  background: url(../img/jobs/prophet.svg) no-repeat;
  background-position: center right;
  background-size: 45px;
}

#result .bar:nth-child(3) {
  background: #F9F871;
  width: 80%;
}

#result .bar:nth-child(3)::after {
  background: url(../img/jobs/evangelist.svg) no-repeat;
  background-position: center right;
  background-size: 45px;
}

#result .bar:nth-child(4) {
  background: #8CFA64;
  width: 70%;
}

#result .bar:nth-child(4)::after {
  background: url(../img/jobs/priest.svg) no-repeat;
  background-position: center right;
  background-size: 45px;
}

#result .bar:nth-child(5) {
  background: #45BCDE;
  width: 60%;
}

#result .bar:nth-child(5)::after {
  background: url(../img/jobs/teacher.svg) no-repeat;
  background-position: center right;
  background-size: 45px;
}

#result .name {
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: -76px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#result .evangelist {
  left: -106px;
}

#result .number {
  color: #FF6F91;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: calc(100% + 12px);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes roundIn {
  0% {
    margin: 0 0 0 -5%;
    opacity: 0.4;
  }
  100% {
    margin: 0;
    opacity: 1;
  }
}

@keyframes roundIn {
  0% {
    margin: 0 0 0 -5%;
    opacity: 0.4;
  }
  100% {
    margin: 0;
    opacity: 1;
  }
}

@-webkit-keyframes titleIn {
  0% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6F91), to(#FF6F91));
    background-image: linear-gradient(#FF6F91, #FF6F91);
    background-size: 0% 16px;
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6F91), to(#FF6F91));
    background-image: linear-gradient(#FF6F91, #FF6F91);
    background-size: 100% 16px;
  }
}

@keyframes titleIn {
  0% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6F91), to(#FF6F91));
    background-image: linear-gradient(#FF6F91, #FF6F91);
    background-size: 0% 16px;
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6F91), to(#FF6F91));
    background-image: linear-gradient(#FF6F91, #FF6F91);
    background-size: 100% 16px;
  }
}

@-webkit-keyframes scrollIn {
  0% {
    opacity: 0;
    bottom: 12.5%;
  }
  100% {
    opacity: 1;
    bottom: 10%;
  }
}

@keyframes scrollIn {
  0% {
    opacity: 0;
    bottom: 12.5%;
  }
  100% {
    opacity: 1;
    bottom: 10%;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 85%;
    padding: 7% 24px;
  }
  #navbar {
    padding: 0 24px;
  }
  #top .round {
    left: 25%;
    top: 35%;
    -webkit-transform: translate(-25%, -35%);
            transform: translate(-25%, -35%);
  }
  #top .title-frame {
    left: 57%;
    top: 50%;
    -webkit-transform: translate(-57%, -50%);
            transform: translate(-57%, -50%);
  }
  #top .title {
    font-size: 10vw;
  }
  #top .scroll {
    font-size: 6vw;
  }
  #result #job-img {
    width: 65%;
    margin: 3% auto;
  }
  #result .chart {
    width: 55%;
  }
  @-webkit-keyframes scrollIn {
    0% {
      opacity: 0;
      bottom: 15%;
    }
    100% {
      opacity: 1;
      bottom: 10%;
    }
  }
  @keyframes scrollIn {
    0% {
      opacity: 0;
      bottom: 15%;
    }
    100% {
      opacity: 1;
      bottom: 10%;
    }
  }
}

@media (max-width: 767px) {
  .container {
    width: 95%;
    padding: 10% 16px;
  }
  #navbar {
    padding: 0 16px;
  }
  #top .round {
    width: 75vmin;
    height: 75vmin;
    left: 33%;
    top: 34%;
    -webkit-transform: translate(-33%, -34%);
            transform: translate(-33%, -34%);
  }
  #top .title-frame {
    left: 52%;
    top: 50%;
    -webkit-transform: translate(-52%, -50%);
            transform: translate(-52%, -50%);
  }
  #top .title {
    font-size: 11vw;
    background-size: 0% 9px;
    background-size: 100% 9px;
  }
  #top .scroll {
    font-size: 8vw;
  }
  #result .result-text {
    font-size: 8vw;
    line-height: 1;
  }
  #result #job-text {
    font-size: 11vw;
  }
  #result #job-img {
    width: 75%;
    margin: 5% auto;
  }
  #result .chart {
    width: 55%;
  }
  #result .chart::before {
    left: -4px;
    width: 4px;
    border-radius: 5px;
  }
  #result .bar {
    height: 25px;
    margin: 25px 0;
  }
  #result .bar::after {
    left: calc(100% + 8px);
    width: 68px;
    height: 48px;
  }
  #result .bar:nth-child(1)::after {
    background-size: 38px;
  }
  #result .bar:nth-child(2)::after {
    background-size: 38px;
  }
  #result .bar:nth-child(3)::after {
    background-size: 38px;
  }
  #result .bar:nth-child(4)::after {
    background-size: 38px;
  }
  #result .bar:nth-child(5)::after {
    background-size: 38px;
  }
  #result .name {
    font-size: 20px;
    left: -52px;
  }
  #result .evangelist {
    left: -72px;
  }
  #result .number {
    font-size: 15px;
    left: calc(100% + 12px);
  }
  @-webkit-keyframes titleIn {
    0% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6F91), to(#FF6F91));
      background-image: linear-gradient(#FF6F91, #FF6F91);
      background-size: 0% 9px;
    }
    100% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6F91), to(#FF6F91));
      background-image: linear-gradient(#FF6F91, #FF6F91);
      background-size: 100% 9px;
    }
  }
  @keyframes titleIn {
    0% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6F91), to(#FF6F91));
      background-image: linear-gradient(#FF6F91, #FF6F91);
      background-size: 0% 9px;
    }
    100% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6F91), to(#FF6F91));
      background-image: linear-gradient(#FF6F91, #FF6F91);
      background-size: 100% 9px;
    }
  }
  @-webkit-keyframes scrollIn {
    0% {
      opacity: 0;
      bottom: 25%;
    }
    100% {
      opacity: 1;
      bottom: 20%;
    }
  }
  @keyframes scrollIn {
    0% {
      opacity: 0;
      bottom: 25%;
    }
    100% {
      opacity: 1;
      bottom: 20%;
    }
  }
}
