@import 'variable.scss';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  &::-webkit-scrollbar {
    width: 7px;
    background: transparent !important;
  }

  &::-webkit-scrollbar-track {
    margin: 0 0 1px 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: $sunRound-red;

    // &:hover {
    //   background: rgb(255, 255, 255);
    // }
  }
}

::selection {
  color: $fontColor-selectDark;
}

a {
  text-decoration: none;
  color: $fontColor-main;
}

img {
  display: block;
  object-fit: cover;
}

.none {
  display: none;
}

.show9 {
  opacity: 0.9 !important;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  margin: auto;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

#app {
  width: 100%;
  height: auto;
  // overflow-y: scroll;  
  overflow-x: hidden;
  position: relative;
  color: $fontColor-main;
  letter-spacing: $space-normal;
}

#navbar {
  width: 100%;
  max-width: 1920px;
  padding: 24px 48px;
  display: flex;
  justify-content: space-between;

  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 99;
  pointer-events: none;

  .logo {
    width: 60px;
    height: 60px;
    pointer-events: all;
  }

  .btn-menu {
    width: 38px;
    opacity: $opacity-main;
    cursor: pointer;
    pointer-events: all;
    transition: $trans-text;

    &:hover {
      opacity: 1;
    }
  }
}

#menu {
  position: fixed;
  z-index: 98;
  pointer-events: none;

  ::selection {
    color: $fontColor-main;
  }

  .menu-frame {
    position: absolute;
    right: 0;
    top: 0;

    height: 100vh;
    padding: 0 0 5vmin;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  .frame-phone {
    display: none;
  }

  .item {
    font-size: $fs-normal;
    font-weight: bold;
    line-height: 2.5;
    margin: 0 -12px 0 0;
    opacity: 0;
    pointer-events: none;
    transition: $trans-menu;
  }

  .item-in {
    opacity: 1;
    margin: 0 24px 0 0;
    pointer-events: all;
  }
}

#index {
  width: 100%;
  height: 100vh;
  background: $bg-index;

  ::selection {
    color: $fontColor-selectLight;
  }

  .sun {
    position: absolute;
    right: -350px;
    top: -360px;
    z-index: 10;
    pointer-events: none;
    transition: $trans-normal;

    .sunRed {
      width: 660px;
      height: 600px;
      background: $sun-red;
      border-radius: 50%;
    }

    .sunRed-line {
      width: 660px;
      height: 600px;
      border: 2px solid $sunRound-red;
      border-radius: 50%;
      transform: translate(-18px, 12px);
      opacity: $opacity-secondary;
    }
  }

  .runnerFrame {
    width: 25%;
    position: absolute;
    left: 0;
    bottom: 1%;
    z-index: 15;
    filter: drop-shadow($shadow-runner);
    opacity: $opacity-main;
  }

  .runner {
    width: 100%;
  }

  .sunSpotLine {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;

    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: $trans-normal;

    @media (min-width:1921px) {
      width: auto;
    }
  }

  .text {
    width: 50%;
    height: 60%;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -45%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: $trans-text;

    .title {
      font-size: $fs-indexTitle;
      font-weight: bold;
      text-align: center;
      position: relative;
      opacity: 0;
      transition: $trans-text;

      // animation: titleIn 2s 1.55s;
      animation: titleIn 2.5s 0.35s;
      animation-fill-mode: forwards;
    }

    .fa-chevron-down {
      margin-left: 16px;
      font-size: 64px;
      position: absolute;
      top: 50%;
      transform: translate(16px, -50%);

      // animation: titleIn 2s 1.55s, titleDown 1s infinite alternate 1.55s;
      animation: titleIn 2.5s 0.35s, titleDown 1s infinite alternate 0.35s;
      animation-fill-mode: forwards;
    }

    .words {
      font-size: $fs-normal;
      font-weight: 500;
      opacity: 0;
      animation: wordsTop 0.9s;
      animation-fill-mode: forwards;

      &:nth-child(3) {
        text-align: right;
        animation: wordsDown 0.9s 0.65s;
        animation: wordsDown 0.9s;
        animation-fill-mode: forwards;
      }
    }
  }
}

#explore {
  width: 100%;
  padding: 0 0 120px 0;
  background: $bg-explore;
  position: relative;

  .bg-star {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    pointer-events: none;

    &:nth-child(2) {
      top: unset;
      bottom: 0;
      transform: rotate(180deg)
    }
  }

  .description {
    padding: 120px 0;
    font-size: $fs-description;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    transition: $trans-text;

    &:hover {
      filter: drop-shadow($shadow-exlporeShine);
    }
  }

  .description-small {
    padding: 120px 0 0;
    font-size: $fs-explore;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    transition: $trans-text;
  }

  .star {
    width: 90px;
    margin: auto;
  }

  .eg-range {
    width: 190px;
    height: auto;
    margin: 70px auto;
  }

  .eg-bar {
    // 10% 為起始點
    width: 10%;
    height: 4px;
    display: inline-block;
    border-radius: 18px;
    background: $bg-bar;
    position: relative;
    transition: $trans-normal;
  }

  .eg-starFill {
    width: 30px;
    position: absolute;
    right: -15px;
    top: -14.8px;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  .eg-number {
    font-size: $fs-explore;
    position: absolute;
    right: -48px;
    top: -16px;
  }

  .query {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .btn-query {
    padding: 10px;
    margin: 40px 10px 66px;
    border: none;
    border-radius: 18px;
    font-size: $fs-explore;
    font-weight: bold;
    color: $fontColor-secondary;
    background-color: $bg-btn;
    opacity: $opacity-main;
    transition: $trans-text;
    cursor: pointer;

    display: flex;
    align-items: center;

    &:hover {
      opacity: 1;
      filter: drop-shadow($shadow-exlporeShine);
    }
  }

  .btn-icon {
    width: 28px;
    margin-right: 4px;
  }

  // main-topic
  .main {
    padding: 0 15vmin;
  }

  .topic {
    font-size: $fs-explore;
    line-height: 1.6;
  }

  .range {
    width: 90%;
    height: auto;
    margin: 45px 30px;
  }

  .bar {
    // 2% 為起始點，滿為 100%
    width: 2%;
    height: 4px;
    display: inline-block;
    border-radius: 18px;
    background: $bg-bar;
    position: relative;
    transition: $trans-normal;
  }

  .starFill {
    width: 30px;
    position: absolute;
    right: -15px;
    top: -14.8px;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  .number {
    font-size: $fs-explore;
    position: absolute;
    right: -48px;
    top: -16px;
  }

  #submit {
    width: fit-content;
    margin: 130px auto 200px;
    font-size: $fs-explore;
    cursor: pointer;
    position: relative;
    transition: 0.1s;

    &:active {
      color: $fontColor-secondary;
    }
  }

  .loading-bar {
    display: block;
    width: 0;
    height: 2px;
    background: $fontColor-main;
    border-radius: 18px;
    transition: $trans-normal;

    position: absolute;
    left: 0;
    top: -16px;
  }

  .loading-star {
    width: 90px;
    position: absolute;
    left: 0;
    top: calc(100% + 18px);
    // TODO 動畫閃爍
  }
}

#result {
  width: 100%;
  height: 100vh;
  background: $bg-result;
  overflow: hidden;
  position: relative;

  ::selection {
    color: $fontColor-selectLight;
  }

  .sun {
    position: absolute;
    left: -350px;
    bottom: -360px;
    pointer-events: none;
    transition: $trans-normal;

    .sunYellow {
      width: 660px;
      height: 600px;
      background: $sun-yellow;
      border-radius: 50%;
    }

    .sunYellow-line {
      width: 660px;
      height: 600px;
      border: 2px solid $sunRound-yellow;
      border-radius: 50%;
      transform: translate(18px, -12px);
      opacity: $opacity-secondary;
    }
  }

  .container {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .result-highest {
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .result-img {
      width: 80%;
      pointer-events: none;
    }

    .result-text {
      width: fit-content;
      padding: 5px 20px;
      margin: 20px 0 6px 0;
      font-size: $fs-job0;
      font-weight: bold;
      background: $bg-job;
      border-radius: 18px;
    }

    .result-job {
      font-size: $fs-job1;
    }

    .result-check {
      color: $fontColor-secondary;
      padding: 0 0 1px;
      margin: 0 6% 0 auto;
      border-bottom: 1px solid transparent;
      transition: $trans-text;

      &:hover {
        border-bottom: 1px solid $fontColor-secondary;
      }
    }
  }

  .chart {
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;

    &::after {
      content: '*滿分為100分';
      position: absolute;
      right: 0;
      top: 0;
      font-size: $fs-tips;
    }

    .chart-frame {
      width: 75%;
      position: relative;

      &::after {
        content: '';
        width: 5px;
        height: 100%;
        background: $bg-notice;
        border-radius: 13px;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .chart-bar {
      width: 100%;
      height: 35px;
      margin: 36px 0;
      background: $bg-result-bar;
      border-radius: 13px;
      position: relative;
    }

    .chart-job {
      font-size: $fs-jobAll;
      font-weight: bold;
      text-align: right;
      position: absolute;
      left: -77px;
      top: -3px;
    }

    .evangelist {
      left: -107px;
    }

    .chart-num {
      font-size: $fs-score;
      font-weight: bold;
      position: absolute;
      right: -52px;
    }
  }
}

#footer {
  width: 100%;
  margin: 3% 12px;
  text-align: center;
  font-size: $fs-footer;
  letter-spacing: 2px;
  line-height: 2;
  color: $fontColor-main;
  filter: drop-shadow($shadow-footer);
  opacity: 0.95;

  position: absolute;
  left: 0;
  bottom: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes wordsTop {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes wordsDown {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes titleIn {
  0% {
    background-image: $bg-index;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 1;
  }

  100% {
    background-image: none;
    background-clip: unset;
    -webkit-background-clip: unset;
    color: $fontColor-main;
    opacity: 1;
  }
}

@keyframes titleDown {
  0% {
    transform: translate(16px, -60%);
  }

  100% {
    transform: translate(16px, -40%);
  }
}

// 跟 container 和文字大小、menu 有關
@media (max-width:1300px) {
  .container {
    max-width: 1000px;
  }

  #index {
    .sun {
      right: -380px;
      top: -390px;
    }

    .text {
      width: 64%;

      .title {
        font-size: $fs-indexTitle-pad1024;
      }

      .fa-chevron-down {
        margin-left: 10px;
        font-size: 58px;
      }

      .words {
        font-size: $fs-normal-pad768;
      }
    }
  }

  #result {
    .sun {
      left: -380px;
      bottom: -390px;
    }
  }
}

@media (max-width:1024px) {
  #index {
    .runnerFrame {
      width: 28%;
      left: -1%;
      bottom: 2%;
    }

    .text {
      width: 60%;
      height: 55%;
    }
  }
}

@media (max-width:768px) {
  #navbar {
    padding: 16px 24px;
  }

  #index {
    .sun {
      right: -395px;
      top: -405px;
    }

    .runnerFrame {
      width: 30%;
    }

    .text {
      width: 68%;

      .title {
        font-size: $fs-indexTitle-pad768;
      }

      .fa-chevron-down {
        margin-left: 4px;
        font-size: 52px;
      }
    }
  }

  #result {
    .sun {
      left: -395px;
      bottom: -405px;
    }
  }
}

@media (max-width:600px) {
  .phone-none {
    display: none;
  }

  #navbar {
    padding: 10px 18px;

    .logo {
      width: 48px;
      height: 48px;
    }

    .btn-menu {
      width: 30px;
    }
  }

  #menu {

    ::selection {
      color: $fontColor-main;
    }

    .menu-frame {
      position: absolute;
    }

    .frame-phone {
      width: 280px;
      height: 240px;
      border-radius: 28px;
      background: $bg-btn;

      display: block;
      opacity: 0;
      position: absolute;
      right: -280px;
      z-index: -1;
      transition: $trans-menu;
    }

    .frame-phone-in {
      opacity: 1;
      right: -160px;
    }

    .item {
      margin: 0 -77px 0 0;
      color: $bg-explore;
      font-size: $fs-normal-pad768;
      line-height: 2;
    }

    .item-in {
      margin: 0 16px 0 0;
    }
  }

  #index {
    .sun {
      right: -175px;
      top: -185px;

      .sunRed {
        width: 330px;
        height: 300px;
      }

      .sunRed-line {
        width: 330px;
        height: 300px;
        transform: translate(-12px, 10px);
      }
    }

    .runnerFrame {
      width: 35%;
    }

    .text {
      width: 70%;
      height: 47%;

      .title {
        font-size: $fs-indexTitle-phone;
      }

      .fa-chevron-down {
        margin-left: -6px;
        font-size: 30px;
      }

      .words {
        font-size: $fs-normal-phone;
      }
    }
  }

  #result {
    .sun {
      left: -175px;
      bottom: -185px;
    }

    .sunYellow {
      width: 330px;
      height: 300px;
    }

    .sunYellow-line {
      width: 330px;
      height: 300px;
      transform: translate(12px, -10px);
    }
  }
}

@media (max-width:320px) {
  #navbar {
    padding: 8px 16px;

    .logo {
      width: 43px;
      height: 43px;
    }

    .btn-menu {
      width: 27px;
    }
  }

  #index {
    .sun {
      right: -190px;
      top: -200px;
    }

    .runnerFrame {
      width: 36%;
    }

    .text {
      width: 68%;

      .title {
        font-size: 40px;
      }

      .fa-chevron-down {
        margin-left: -8px;
        font-size: 24px;
      }

      .words {
        font-size: 12px;
      }
    }
  }

  #result {
    .sun {
      left: -190px;
      bottom: -200px;
    }
  }
}