@import 'variable.scss';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h3 {
  font-size: $fsize-description;
}

h4 {
  margin: 0 0 2%;
  font-size: $fsize-description-s;
  font-weight: 500;
  text-align: center;
}

img {
  display: block;
  object-fit: cover;
}

#app {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  position: relative;
}

.container {
  width: 75%;
  height: 100%;
  max-width: 1440px;
  padding: 4% 32px;
  margin: auto;
}

#navbar {
  width: 100%;
  max-width: 1920px;
  height: 72px;
  padding: 0 32px;
  margin: auto;
  position: absolute;
  z-index: 99;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 48px;
    height: 48px;
    margin: 0 12px;
  }

  .icon-menu {
    width: 46px;
    height: 46px;
    opacity: 0.75;
    cursor: pointer;
    transition: 0.25s;
    background: url(../img/lightning_outline.svg) no-repeat;

    &:hover {
      opacity: 1;
      background: url(../img/lightning.svg) no-repeat;
    }
  }
}

#menu {
  width: 200px;
}

#top {
  width: 100%;
  height: 100vh;
  position: relative;

  .round {
    width: 75vmin;
    max-width: 720px;
    height: 75vmin;
    max-height: 720px;
    background: $yellow;
    border-radius: 50%;

    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-25%, -50%);
    animation: roundIn 0.65s ease-out;
  }

  .title-frame {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    animation: fadeIn 0.5s;
  }

  .title {
    padding: 0 0 10px;
    color: $dark;
    font-size: $fsize-title;
    letter-spacing: 1px;
    line-height: 1.35;
    display: inline-block;
    white-space: nowrap;

    background-image: linear-gradient($pink, $pink);
    background-position: bottom left;
    background-size: 0% 16px;
    background-size: 100% 16px;
    background-repeat: no-repeat;
    animation: titleIn 2.5s;
  }

  .scroll {
    color: $pink;
    font-size: 46px;
    position: absolute;
    left: 50%;
    z-index: 10;
    opacity: 0;
    transform: translateX(-50%);
    animation: scrollIn 1.75s infinite 1.95s;
    will-change: bottom;
  }
}

#result {
  width: 100%;
  height: 100vh;

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .result-text {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: $fsize-result;
    line-height: 1;
  }

  #job-text {
    color: $red;
    font-size: $fsize-result + 24px;
  }

  #job-img {
    width: 36%;
    margin: 0 6% 0 0;
  }

  .chart {
    width: 45%;
    height: auto;
    position: relative;
    // background: #9993;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: -5px;
      top: 50%;
      transform: translateY(-50%);

      width: 5px;
      height: 96%;
      background: #3335;
      border-radius: 8px;
    }
  }

  .bar {
    height: 32px;
    margin: 32px 0;
    position: relative;
    transition: 0.25s;

    &:hover {
      opacity: 0.85;
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      left: calc(100% + 12px);
      top: 50%;
      transform: translateY(-50%);

      width: 75px;
      height: 48px;
    }

    &:nth-child(1) {
      background: $red;
      width: 100%;

      &::after {
        background: url(../img/jobs/apostle.svg) no-repeat;
        background-position: center right;
        background-size: 45px;
      }
    }

    &:nth-child(2) {
      background: $orange;
      width: 90%;

      &::after {
        background: url(../img/jobs/prophet.svg) no-repeat;
        background-position: center right;
        background-size: 45px;
      }
    }

    &:nth-child(3) {
      background: $yellow;
      width: 80%;


      &::after {
        background: url(../img/jobs/evangelist.svg) no-repeat;
        background-position: center right;
        background-size: 45px;
      }
    }

    &:nth-child(4) {
      background: $green;
      width: 70%;


      &::after {
        background: url(../img/jobs/priest.svg) no-repeat;
        background-position: center right;
        background-size: 45px;
      }
    }

    &:nth-child(5) {
      background: $blue;
      width: 60%;

      &::after {
        background: url(../img/jobs/teacher.svg) no-repeat;
        background-position: center right;
        background-size: 45px;
      }
    }
  }

  .name {
    font-size: $fsize-chart;
    font-weight: 400;
    position: absolute;
    left: -($fsize-chart*2 + 16px);
    top: 50%;
    transform: translateY(-50%);
  }

  .evangelist {
    left: -($fsize-chart*3 + 16px);
  }

  .number {
    color: $pink;
    font-size: $fsize-chart - 12px;
    font-weight: 500;
    position: absolute;
    left: calc(100% + 12px);
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
  }
}

#description {
  width: 100%;
  letter-spacing: 1px;
  text-align: justify;
}


#btn {
  width: 100%;
  // background: #333;

  h3 {
    width: 100%;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .btn-type {
    padding: 0.5% 2%;
    margin: 2.5% 0;
    font-size: $fsize-btn;
    font-weight: 600;
    background: $light;
    border: none;
    border-radius: 25px;

    display: flex;
    align-items: center;


    cursor: pointer;
    transition: 0.15s;

    &:hover {
      background: $white;
    }

    &:nth-child(2) {
      color: $red;
    }

    &:nth-child(3) {
      color: $orange;
    }

    &:nth-child(4) {
      color: $yellow;
    }

    &:nth-child(5) {
      color: $green;
    }

    &:nth-child(6) {
      color: $blue;
    }
  }

  .btn-img {
    width: 32px;
    margin: 0 5px 0 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes roundIn {
  0% {
    margin: 0 0 0 -5%;
    opacity: 0.4;
  }

  100% {
    margin: 0;
    opacity: 1;
  }
}

@keyframes titleIn {
  0% {
    background-image: linear-gradient($pink, $pink);
    background-size: 0% 16px;
  }

  100% {
    background-image: linear-gradient($pink, $pink);
    background-size: 100% 16px;
  }
}

@keyframes scrollIn {
  0% {
    opacity: 0;
    bottom: 12.5%;
  }

  100% {
    opacity: 1;
    bottom: 10%;
  }
}

@media (max-width:1024px) {
  .container {
    width: 85%;
    padding: 7% 24px;
  }

  #navbar {
    padding: 0 24px;
  }

  #top {
    .round {
      left: 25%;
      top: 35%;
      transform: translate(-25%, -35%);
    }

    .title-frame {
      left: 57%;
      top: 50%;
      transform: translate(-57%, -50%);
    }

    .title {
      font-size: $fsize-title-pad;
    }

    .scroll {
      font-size: 6vw;
    }
  }

  #result {
    height: auto;

    #job-img {
      width: 65%;
      margin: 11% auto;
    }

    .chart {
      width: 55%;
    }
  }

  @keyframes scrollIn {
    0% {
      opacity: 0;
      bottom: 15%;
    }

    100% {
      opacity: 1;
      bottom: 10%;
    }
  }
}

@media (max-width:767px) {
  h3 {
    font-size: $fsize-description-phone;
  }

  h4 {
    margin: 0 0 5%;
    font-size: $fsize-description-s-phone;
    font-weight: 400;
  }

  .container {
    width: 95%;
    padding: 10% 16px;
  }

  #navbar {
    padding: 0 16px;
  }

  #top {
    .round {
      width: 75vmin;
      height: 75vmin;

      left: 33%;
      top: 34%;
      transform: translate(-33%, -34%);
    }

    .title-frame {
      left: 52%;
      top: 50%;
      transform: translate(-52%, -50%);
    }

    .title {
      font-size: $fsize-title-phone;
      background-size: 0% 9px;
      background-size: 100% 9px;
    }

    .scroll {
      font-size: 8vw;
    }
  }

  #result {
    .result-text {
      font-size: $fsize-result-phone;
      line-height: 1;
    }

    #job-text {
      font-size: $fsize-result-phone + 3vw;
    }

    #job-img {
      width: 75%;
      margin: 9% auto;
    }

    .chart {
      width: 55%;

      &::before {
        left: -4px;
        width: 4px;
        border-radius: 5px;
      }
    }

    .bar {
      height: 25px;
      margin: 25px 0;

      &::after {
        left: calc(100% + 8px);
        width: 68px;
        height: 48px;
      }

      &:nth-child(1) {
        &::after {
          background-size: 38px;
        }
      }

      &:nth-child(2) {
        &::after {
          background-size: 38px;
        }
      }

      &:nth-child(3) {
        &::after {
          background-size: 38px;
        }
      }

      &:nth-child(4) {
        &::after {
          background-size: 38px;
        }
      }

      &:nth-child(5) {
        &::after {
          background-size: 38px;
        }
      }
    }

    .name {
      font-size: $fsize-chart-phone;
      left: -($fsize-chart-phone*2 + 12px);
    }

    .evangelist {
      left: -($fsize-chart-phone*3 + 12px);
    }

    .number {
      font-size: $fsize-chart-phone - 5px;
      left: calc(100% + 12px);
    }
  }

  #description {
    width: 100%;
    letter-spacing: 1px;
    text-align: justify;
  }

  #btn {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .btn-type {
      padding: 1% 3.5%;
      font-size: $fsize-btn-phone;
    }

    .btn-img {
      width: 28px;
      margin: 0 3px 0 0;
    }
  }

  @keyframes titleIn {
    0% {
      background-image: linear-gradient($pink, $pink);
      background-size: 0% 9px;
    }

    100% {
      background-image: linear-gradient($pink, $pink);
      background-size: 100% 9px;
    }
  }

  @keyframes scrollIn {
    0% {
      opacity: 0;
      bottom: 25%;
    }

    100% {
      opacity: 1;
      bottom: 20%;
    }
  }
}