@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

$white:#fff;
$light:#fff9;
$dark:#111;
$grey:#111c;

$pink:#FF6F91;
$red:#F55F3E;
$orange:#FA9132;
$yellow:#F9F871;
$green:#8CFA64;
$blue:#45BCDE;

// font-size
$fsize-title:118px;
$fsize-title-pad:10vw;
$fsize-title-phone:11vw;
$fsize-result:48px;
$fsize-result-phone:8vw;
$fsize-chart:30px;
$fsize-chart-phone:20px;
$fsize-description:26px;
$fsize-description-phone:5vw;
$fsize-description-s:20px;
$fsize-description-s-phone:4.5vw;
$fsize-btn:22px;
$fsize-btn-phone:4vw;
$fsize-topic:24px;
$fsize-explain:12px;
$fsize-menu:24px;
$fsize-footer:14px;